html, body{
    margin: 0;
    padding: 0;
  }

*{
  font-family: Sofia Pro;
}
.pe{
  color: #949494;
  font-size: 20px;
  font-weight: 100;
} 
.jub{
    font-weight: bold;
    margin: 5% auto;
    font-size: 25px;
    line-height: normal;
}
form span{
  font-weight: bold;
  font-size: 30px;
  margin: 5% auto;
}

  *:focus {
    outline: none;
  }

  .form{
    width: 90%;
  }
  
  .form-input, textarea, select {
    width: 100%;
  }
  
  * {
    box-sizing: content-box;
  }
  
  .wrapper {
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh;
  }
    
  
  input[type="submit"] {
    width: 90%;
    height: 45px;
    background-color: #76d275;
    border: 0px solid #333;
    border-radius: 5px;
    color: white;
  }
  
  input[type="submit"]:hover {
    background-color: #6ec06c;
    color: rgb(255, 255, 255);
    transition-duration: 0.3s;
  }

  

  form {
    width: 70%;
    margin: 7% auto;
  }
  .formin{
    margin: 18vh auto;
  }
  
  .header {
    background-image: url(../images/auth/gunung.jpg);
    background-size: cover;
    background-position: relative;
    color: #f7f7f7;
    text-align: left;
    font-size: 25px;
    width: 100%;
  }

  input[type=text] {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    border: none;
    color: #0d0d0d;
    padding: 15px 28px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 1px;
    width: 80%;
    border: 2px solid #f6f6f6;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    
  }

  input[type=text]:focus, input[type=password]:focus{
    background-color: #fff;
    border-left: 2.5px solid #76d275;
    transition-duration: 0.150s;
  }


  input[type=password] {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    border: none;
    color: #0d0d0d;
    padding: 15px 28px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 1px;
    margin-top: -1px;
    width: 80%;
    border: 2px solid #f6f6f6;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  input[type=checkbox]{
    height: 13px;
    width: 13px;
    border: 2.5px solid #AEAEAE;
    position: relative;
  }


  form a{
      text-decoration: none;
      color: #949494;
      position: relative;
      font-size: 18px;
      float: right;
  }
  img{
      height: 40px;
      width: 40px;
  }
  .head{
      height: 70%;
  }
  .header img{
    margin: 20px;
    padding-left: 30%;
    position: absolute;
    z-index: 2;
  }
  .header span{
    position: fixed;
    font-size: 35px;
    top: 67vh;
    width: 80vh;
    margin: 0 20px;
  }
  .input{
    margin: 7% auto;
  }
  .check{
    margin: 5vh auto;
    font-size: 18px;
  }
  .submit{
    margin: 5vh auto;
  }
