.isi{
    margin: 0 auto;
    width: 70%;
    text-align: center;
    font-size: 20px;
}
.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
/* style jumbotron */
.jumbotron{
    background-image: url(img/hiking.jpg);
    background-size: cover;
    height: 770px;
    text-align: center;
    margin-top: -120px;
}
.jumbotron .display-4{
    color : white;
    margin-top: 200px;
}
.jumbotron .p{
    color: white;
    font-size: 18px;
}
.jumbotron .btn{
    background: white;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 40px;
    color:black;
    font-size: 20px;
    letter-spacing: 0.1em;
    border-radius: 25px;
    border: 2px solid black;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
    transition: all 0.75s;
}
.jumbotron .btn:hover{
    background-color: #7dcf8f;
    color: #fff;
}

/* style slider */
.carousel-item{
    height: 670px;
    color: black;
}
.carousel-item img{
    margin-top: -120px;
}
.carousel-item .display-4{
    margin-top: -440px;
}

